[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
djangorestframework = "*"
django = "*"

[dev-packages]
ipython = "*"
"autopep8" = "*"
pylint-django = "*"

[requires]
python_version = "3.6"
